Source: luma.oled
Section: python
Priority: optional
Maintainer: Richard Hull <richard@destructuring-bind.org>
Homepage: https://github.com/rm-hull/luma.oled
Build-Depends:
 debhelper-compat (= 12),
 dh-sequence-python3,
 dh-python,
 python3,
 python3-setuptools,
Standards-Version: 4.5.1

Package: python3-luma-oled
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Python module to drive OLED matrix displays
 Python 3 library interfacing OLED matrix displays with the SSD1306, SSD1309,
 SSD1322, SSD1325, SSD1327, SSD1331, SSD1351, SH1106 or WS0010 driver using
 I2C/SPI/Parallel on the Raspberry Pi and other linux-based single-board
 computers - it provides a Pillow-compatible drawing canvas, and other
 functionality.
